.soft-and-wet-page {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(200, 200, 200);
  .container {
    width: 20%;
    height: 0;
    padding-bottom: calc(55% * 9 / 16);
    // background: red;
    .josuke {
      position: relative;
      width: 115%;

      margin-left: -40%;
    }
    .collar {
      position: absolute;
      background-image: url('../images/JosukeMask.png');
      background-size: cover;
      top: 2px;
      left: -40%;
      width: 115%;
      height: 100%;
      filter: url('#turbulence');
    }
    .soft-and-wet {
      position: relative;
      width: 100%;
      opacity: 60%;

      margin-top: -33%;
      margin-left: 24%;
    }
  }
  .title {
    position: absolute;
    color: rgb(240, 240, 240);
    letter-spacing: 0.18em;
    // -webkit-writing-mode: vertical-rl;
    // -moz-writing-mode: vertical-rl;
    // -ms-writing-mode: vertical-rl;
    // writing-mode: vertical-rl;
  }
}
